@charset "utf-8";

/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body {
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 16px;
}


/*　パディングをサイズ内側にする処理　*/
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/


/*どの部分のcssに対して
命令をしているのかコメントを
記載しよう！
全ての写真の大きさを画面いっぱいに調整する*/
img {
	max-width: 100%;
	height: auto;
}

/* 全体を960pxにおさえる */
.wrapper {
	max-width: 960px;
	margin: auto
}


/* ---------------------------------- */


.title_box {
	background: url("../img/mainbg.png");
	background-size: cover;
	background-position: center;
	height: 480px;
	max-width: 960px;
	margin: auto
}

.site-title {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	color: aliceblue;
}

.academy-description {
	color: white;
	font-size: 36px;
	text-align: center;
}

/* ----header----- */
/* ナビゲーションの横並び */

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	margin: 0 0 120px;
}

/* ロゴとコンテンツの横並び */
.nav-list {
	display: flex;
}

.nav-item {
	margin: 0 0 0 70px;
	font-size: 21px;
}

/* 直ぐ近くのaタブに効かせる＞a */
.nav-item>a {
	color: brown;
}

/* //////ABOUT////////////////////// */
.about {
	color: gold;
}

/* ///////////////////////////// */
/* ABOUT */
.profile-wrapper {
	width: 960px;
	margin: auto;
	margin-bottom: 80px;
	align-items: center;
}


.profile__title {
	margin: 0 0 24px;
	font-size: 24px;
	font-weight: bold;
	color: #ffd61a
}

.cheese_explain {
	margin: 0 0 64px;
}

.cheese__school {
	margin: 0 0 40px;
}

.course__list {
	display: flex;
}

.course__item {
	width: 50%;
}

/* テキストを中央揃えにする */
.text-center {
	text-align: center;

}

.text-center2 {
	text-align: center;
	font-weight: lighter;
}



.profile-wrapper {
	text-align: center;
}

/* -------------帯写真------------------ */
.center_picture {
	margin-bottom: 64px;
}


/* < !-- ---COURSE-（写真・文章）--------- --> */
.course-wrapper {
	text-align: center;
}

.course_sentence {
	margin-bottom: 64px;
}

.image_box1 {
	display: flex;
	width: 100%;
}

.image_box_image1 {
	width: 50%;
}

.image_box_text1 {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ----h3とpの間を40pxあける-- */
h3 {
	margin-bottom: 40px;
	font-size: 24px;
	color: #222;
}

.image_box2 {
	display: flex;
	width: 100%;
}

.image_box_text2 {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image_box_image2 {
	width: 50%;
}

.image_box3 {
	display: flex;
	width: 100%;
}

.image_box_image3 {
	width: 50%;
}

.image_box_text3 {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* NEWS */
.news_text {
	margin-top: 64px;
}

.news_small {
	text-align: center;
	margin-bottom: 64px;
}

/* NEWSこすげさんPIZZA */
.news_pizza {
	display: flex;
}

.kosuge {
	margin: 32px 0 24px 0;
}

.pizza_img_box {
	margin: 0 32px 0 0;
}

.pizza_img_box2 {
	margin: 0;
}

/* MORE */
.more-button {
	background-color: yellow;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	display: flex;
	justify-content: center;
	font-size: 21px;
	margin: 56px auto 48px auto;
}

/* アクセス */
.access_all {
	background-color: #fafafa;
	margin: 64px 0 80px 0
}

.access_title {
	margin-top: 64px;
}

/* Google Map */
iframe {
	width: 100%;
	aspect-ratio: 16/9;
}

/* 学校名など */
.some_name {
	text-align: center;
}

.table {
	margin: 64px 0 80px 0;
}


table {
	border-collapse: collapse;
	margin: 0 auto;
}

td {
	/* border: 1px solid #efefef; */
	padding: 24px 48px;
}

/* コンタクトフォーム */
.contact {
	padding: 80px 0 64px;
}

.zehi {
	margin: 60px 0 80px 0;
}

.extence {
	margin-bottom: 80px;
}

.form-wrapper {
	width: 900px;
	margin: auto;
}

.form-inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 40px;
}

.form-title {
	width: 152px;
	margin: 0 120px 0 0;
	padding: 8px 0 0 0;
	font-weight: bold;
}

.form-title check-box {
	padding: 0;
}

.form-item {
	width: 500px;
	margin: 0 0 32px;
}

/* ---解答枠の枠線--- */
.form-parts {
	appearance: none;
	/* -webkit-appearance: none; */
	/* -moz-appearance: none; */
	box-sizing: border-box;
	padding: 8px;
	border: solid 1px #bfbfbf;
	font: size 14px;
	width: 100%;
}

/* ----チェックボックスと文字間隔広げ-- */
input[type="checkbox"] {
	appearance: none;
	/* -webkit-appearance: none; */
	/* -moz-appearance: none; */

	width: 16px;
	height: 16px;
	margin-right: 40px;
	border: solid 1px #f0febe50;
}

input[type="checkbox"]:checked {
	background-color: #f0febe50;
}

.btn-submit {
	display: block;
	width: 214px;
	margin: auto;
	padding: 21px 0;
	background-color:orange ;
	color: #fafafa;
	font-size: 18px;
	border: none;
	/* box-sizing: 298x54; */
}

/* footer */
.footer {
	padding: 24px 0;
	background-color: #707070;
	color: #fafafa;
	font-size: 18px;
	font-weight: bold;
}

.btn-pagetop {
	display: block;
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

.icon-up {
	color: #fff;
}

.copyright {
	color: #fff;
}